.label {
  color: rgb(33, 253, 169);
  padding: 100px;
  font-family: Arial;}
.BookCode {background-color: #04AA6D;} 
.BookTitle {background-color: #2196F3;} 
.Catagory {background-color: #fa7f2d;} 
.Author {background-color: #f44336;} 


